 
    <nav class="navbar navbar-expand-lg navbar-secondary">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img id="logoSize" src="../../assets/images/logo3.jpg" alt="" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                   

                </ul>
                <form class="d-flex"> 
                    <button class="btn btn-outline-primary round-button mx-2" type="button" (click)="goToLogin()">Login</button>
                    <button class="btn btn-success round-button" type="button" (click)="goToRegister()">Register</button>
                </form>
            </div>
        </div>
    </nav>
    <div id="booking">
        
        <form id="form" [formGroup]="indexForm" >
            <label for="start" >Pickup</label>
            <input type="text" id="start" formControlName="pickup" class="placeholder1" placeholder="Pick Up">
            
            <!-- <label for="startdate" class="form-label">Start Date</label> 
            <input type="date" class="placeholder1"  id="inputStartDate" placeholder="StartDate"> 
            <input type="date" class="placeholder1" id="inputEndDate" placeholder="enddate"> -->
            <!-- <input type="text" id="end" class="placeholder1" placeholder="Drop Off"> -->          
                <label for="date">From DateTime:</label>
                <input type="datetime-local" id="date" formControlName="fromdatetime" name="date" class="placeholder1" required>
                <label for="date">To DateTime:</label>
                <input type="datetime-local" id="date" formControlName="todatetime" name="date" class="placeholder1" required>          
              
            <div><button id="primaryButton" type="submit" (click)="goToSearch()">FIND CARS</button></div>
        </form>
        
    </div>
   

