<h1>{{msg}}</h1>
<p>employeelist works!</p>
<input type="button" value="Send Msg" (click)="sendMessage()"/>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Emp Id</th>
            <th>Name</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        <!--
        <tr *ngFor="let e of employeeList">
            <td>{{e.empId}}</td>
            <td>{{e.empName}}</td>
            <td>{{e.empCity}}</td>
        </tr>
        -->
        @for(e of employeeList;track e.empId)
        {
            <tr>
                <td>{{e.empId}}</td>
                <td>{{e.empName}}</td>
                <td>{{e.empCity}}</td>
            </tr>
        }

    </tbody>
</table>

