<div class="forget-password-modal">
    <h2>Forget Password</h2>
    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" [(ngModel)]="email">
    </div>
    <div>
      <label for="captcha">Captcha:</label>
      <div>{{ generatedCaptcha }}</div>
      <input type="text" id="captchaValue" [(ngModel)]="captcha">
    </div>
    <div class="actions">
      <button (click)="verifyEmail()">Verify Email</button>
      <button (click)="clearCaptcha()">Clear</button>
    </div>
  </div>
  
