<nav class="navbar navbar-expand-lg navbar-secondary">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img id="logoSize" src="../../assets/images/logo3.jpg" alt="" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">


            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-primary round-button mx-2" type="button"
                    (click)=" goToLogin()">Login</button>
                <button class="btn btn-success round-button" type="button" (click)="goToRegister()">Register</button>
                <button class="btn btn-outline-primary round-button mx-2" type="button"
                    (click)=" goToLogout()">Logout</button>
            </form>
        </div>
    </div>
</nav>


<div class="container-fluid" style="padding-top: 75px;">
    <div class="car-list-home-container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-success">
                        Selected car
                    </div>
                    <div class="container">

                        <div class="row">
                            <div class="col-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>ModelName</th>
                                            <th>noofseats</th>
                                            <th>Cost/hr</th>
                                            <th>typeid</th>
                                            <th>Image</th>
                                            <th>fromDateTime</th>
                                            <th>toDateTime</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      
                                        <tr >
                                            <td>{{carobj?.carid}}</td>
                                            <td>{{carobj?.modelname}}</td>
                                            <td>{{carobj?.noofseats}}</td>
                                            <td>{{carobj?.cost}}</td>
                                            <td>{{carobj?.typeid}}</td>
                                            <td><img [src]="carobj?.image" height="100" width="100" alt=""></td>
                                            <td>{{request.fromdatetime |date:'long'}}</td>
                                            <td>{{request.todatetime |date:'long'}}</td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="padding-top: 75px;">
                <div class="car-list-home-container">
                    <div class="row">
                        <div class="col-8">
                            <div class="card">
                                <div class="card-header bg-success">
                                    Payment Details
                                </div>
                                <div class="container">
            
                                    <div class="row">
                                        <div class="col-8">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>fromDateTime</th>
                                                        <th>toDateTime</th>
                                                        <th>UserId</th>
                                                        <th>CarId</th>
                                                        <th>TotalCost</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                  
                                                    <tr >
                                                        <td>{{request.fromdatetime |date:'long'}}</td>
                                                        <td>{{request.todatetime |date:'long'}}</td>
                                                        <td>{{request.userid}}</td>
                                                        <td>{{carobj?.carid}}</td>
                                                        <td>{{discountedPrice}}</td>
                                                        <td><button class="btn btn-outline-primary round-button mx-2" type="button"
                                                            (click)="saveBooking()">ConfirmBooking</button></td>
                                                    </tr>
                                                
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-4">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Wallet & Offers</h4>
                                            <div class="bg-secondary text-white p-2 mt-2" style="border-radius: 10px;">
                                               
                                                <div class="row pt-1">
                                                    <div class="col-12">
                                                        <p>
                                                            Customer get 15% off on Total Amount
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                           
                        
                                            <div class="d-grid gap-2 pt-3">
                                                <button class="btn btn-success btn-lg" type="button"(click)="calculateDiscount()">Book Now</button>
                                                <!-- (click)="calculateDiscount()" -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>