<div class="container">
  <h3>Employee List</h3>
  <div class="row">
    <div class="col-6">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          @for(e of empList;track e.id){
          <tr>
            <td>{{e.id}}</td>
            <td>{{e.name}}</td>
            <td>{{e.salary}}</td>
            <td>
              <button type="button" class="btn btn-info" (click)="edit(e)">Edit</button> &nbsp;
              <button type="button" class="btn btn-danger" (click)="deleteEmployee(e.id)">Delete</button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <h3>Employee</h3>
      <form [formGroup]="empForm" (ngSubmit)="saveEmployee()">
        <div class="form-floating mb-3">
          <input type="number" class="form-control" formControlName="id" required
            [class.is-invlaid]="id?.invalid && id?.touched" name="id" id="id" placeholder="Emp Id">
          <label for="id">Emp Id</label>
          <div *ngIf="id?.invalid && id?.touched">
            <small class="text-danger" *ngIf="id?.errors?.['required']">Id is required</small>
          </div>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" formControlName="name" required
            [class.is-invlaid]="name?.invalid && name?.touched" name="name" id="name" placeholder="Emp Name">
          <label for="id">Emp Name</label>
          <div *ngIf="name?.invalid && name?.touched">
            <small class="text-danger" *ngIf="name?.errors?.['required']">Name is required</small>
          </div>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" formControlName="salary" required
            [class.is-invlaid]="salary?.invalid && salary?.touched" name="salary" id="salary" placeholder="Emp Salary">
          <label for="id">Salary</label>
          <div *ngIf="salary?.invalid && salary?.touched">
            <small class="text-danger" *ngIf="salary?.errors?.['required']">Salary is required</small>
          </div>
        </div>
        <div class="form-floating mb-3">
          <button type="submit" *ngIf="!isUpdatebtn" class="btn btn-outline-primary">Add</button> &nbsp;
          <button type="submit" *ngIf="isUpdatebtn" class="btn btn-outline-primary">Update</button> &nbsp;
          <button type="button" class="btn btn-outline-primary">Cancel</button>
        </div>
      </form>

    </div>
  </div>
</div>