<div class="container">
    <h3>Employee List</h3>
    <div class="row">
        <div class="col-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Salary</th>
                        <th>Department</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for(e of employeeList;track e.id){
                        <tr>
                            <td>{{e.id}}</td>
                            <td>{{e.name}}</td>
                            <td>{{e.salary}}</td>
                            <td>{{e.department}}</td>
                            <td>
                                <button type="button" class="btn btn-info" (click)="editEmp(e)">Edit</button>&nbsp;
                                <button type="button" class="btn btn-danger" (click)="deleteEmp(e.id)">Delete</button>&nbsp;
                                <button type="button" class="btn btn-info" (click)="infoEmp(e.id)">Info</button>&nbsp;
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h3>Employee</h3>
            <form [formGroup]="empForm" (ngSubmit)="saveEmp()">
                <div class="form-floating mb-3">
                  <!-- [class.is-invlaid]="id?.invalid && id?.touched" -->
                    <input type="text" class="form-control" formControlName="id"  name="id" id="id" placeholder="Emp Id">
                    <label for="id">Emp Id</label>
                    <!-- <div *ngIf="id?.invalid && id?.touched">
                      <small class="text-danger" *ngIf="id?.errors?.['required']">Id is required</small>
                    </div> -->
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" formControlName="name" required [class.is-invlaid]="name?.invalid && name?.touched" name="name" id="name" placeholder="Emp Name">
                    <label for="name">Emp Name</label>
                    <div *ngIf="name?.invalid && name?.touched">
                      <small class="text-danger" *ngIf="name?.errors?.['required']">Name is required</small>
                    </div>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" formControlName="salary" required [class.is-invlaid]="salary?.invalid && salary?.touched" name="salary" id="salary" placeholder="Emp salary">
                    <label for="salary">Emp Salary</label>
                    <div *ngIf="salary?.invalid && salary?.touched">
                      <small class="text-danger" *ngIf="salary?.errors?.['required']">Salary is required</small>
                    </div>
                  </div>

                  <div class="form-floating mb-3"> 
                    <div class="form-floating mb-3"> 
                      <label for="department">Department</label> 
                      <select class="form-control" id="department" formControlName="department"  name="department"> 
                        <option *ngFor="let department of departmentList" [value]="department.name">{{ department.name }}</option> 
                      </select> 
                    </div> 
                  </div>

                  <div class="form-floating mb-3">
                    <button type="submit" *ngIf="!isUpdatebtn" class="btn btn-outline-primary">Add</button> &nbsp;
                    <button type="submit" *ngIf="isUpdatebtn" class="btn btn-outline-primary">Update</button> &nbsp;
                    <button type="button" class="btn btn-outline-primary">Cancel</button>
                    <!-- [disabled]="empForm.invalid" -->
                  </div>
            </form>
        </div>
    </div>
</div>
